<!--<div class="">
    <div class="row">
        <div  *ngFor="let item of plant_details | keyvalue ;" class="col-4 card pb-4 pl-0 pr-0" >
            <div class="card-header">
                {{item.key}} 
            </div>
             {{item.value.btap.arrival.p1}}
        </div>
    </div>
</div> -->

<div class="row bg-dark">
        <div class="col-4">
            <button class="btn btn-outline-warning float-left mt-2 ml-4" (click)="onPrev()" > << </button>
        </div>
        <div class="col-4 center text-center text-info mt-2" style="font-size:1.1rem;">
        <form (ngSubmit)="onSubmit()">
            <label for="month" class="form-group label">M</label>
            <input type="number" style="width:40px !important;border-radius: 5px;" name="month" required max="12" min="1"  class="ml-2 mr-2" [(ngModel)]="payload.month">
            <label for="year" class="form-group label mt-2" >Y</label>
            <input type="number" name="year" required max="2019" style="width:65px !important;border-radius: 5px;" min="2000" class="ml-2 mr-2" [(ngModel)]="payload.year">
            <button type="submit" class="btn btn-outline-info ml-4" style="width:90px !important;border-radius: 25px !important;" >Get Data</button>        
        </form>
        </div>
        <div class="col-4">
            <button class="btn btn-outline-warning float-right mt-2 mr-4" (click)="onNext()" > >> </button>
        </div>
    </div>


<div class="load" id="load"></div>
  <div class="contents" id="contents" style="visibility: hidden;" >
    <div class="display-4 text-info m-4 text-center">
        Data Calendar for {{payload.month}}/{{payload.year}}
    </div>

    
    


<div class="mt-4" style="margin-left:5%;margin-right:5%;">  
        <div class="row text-center">
            <div class="col-1" *ngIf="payload.month == 1"></div>
            <div class="col-3" *ngIf="payload.month == 2"></div>
            <div class="col-3" *ngIf="payload.month == 3"></div>
            <div class="" *ngIf="payload.month == 4"></div>
            <div class="col-2" *ngIf="payload.month == 5"></div>
            <div class="col-6" *ngIf="payload.month == 6"></div>
            <div class="" *ngIf="payload.month == 7"></div>
            <div class="col-2" *ngIf="payload.month == 8"></div>
            <div class="col-10" *ngIf="payload.month == 9"></div>
            <div class="col-1" *ngIf="payload.month == 10"></div>
            <div class="col-4" *ngIf="payload.month == 11"></div>
            <div class="col-10" *ngIf="payload.month == 12"></div>
            <div  *ngFor="let item of stock | keyvalue ;let i = index;" class="col-2 card pb-4 pl-0 pr-0"  style="font-size: 0.9rem;" >
                <div class="card-header text-right text-info" *ngIf="item.value" >
                    <span class="badge badge-pill badge-primary" style="font-size: 1.2rem;" ><b> {{item.key.substring(8,10)}} </b></span>
                </div>
                <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th>  </th>
                            <th> P1 </th>
                            <th> P2 </th>
                        </tr>
                    </thead>
                    <tbody class="p-0">
                        <tr *ngIf="item.value.plant.p1 != null">
                            <th>Plant</th>
                            <td> {{item.value.plant.p1}}</td>
                            <td> {{item.value.plant.p2}}</td>
                        </tr>
                        <tr *ngIf="item.value.transit">
                            <th>Transit</th>
                            <td> {{item.value.transit.p1}}</td>
                            <td> {{item.value.transit.p2}}</td>
                        </tr>
                        <tr *ngIf="item.value.port">
                            <th>Port</th>
                            <td> {{item.value.port.p1}}</td>
                            <td> {{item.value.port.p2}}</td>
                        </tr>
                        <tr class="text-center" *ngIf="plant_details[item.key]">
                            <th>BTAP</th>
                        </tr>
                        <tr *ngIf="plant_details[item.key]">
                            <th>Arrival</th>
                            <td> {{plant_details[item.key].btap.arrival.p1}}</td>
                            <td> {{plant_details[item.key].btap.arrival.p2}}</td>
                        </tr>
                        <tr *ngIf="plant_details[item.key]">
                            <th>Departure</th>
                            <td> {{plant_details[item.key].btap.departure.p1}}</td>
                            <td> {{plant_details[item.key].btap.departure.p2}}</td>
                        </tr>
                        <tr class="text-center" *ngIf="plant_details[item.key]">
                            <th>Bulker</th>
                        </tr>
                        <tr *ngIf="plant_details[item.key]">
                            <th>Arrival</th>
                            <td> {{plant_details[item.key].bulker.arrival.p1}}</td>
                            <td> {{plant_details[item.key].bulker.arrival.p2}}</td>
                        </tr>
                        <tr *ngIf="plant_details[item.key]">
                            <th>Departure</th>
                            <td> {{plant_details[item.key].bulker.departure.p1}}</td>
                            <td> {{plant_details[item.key].bulker.departure.p2}}</td>
                        </tr>
                        <tr class="text-center" *ngIf="plant_details[item.key]">
                            <th>Truck</th>
                        </tr>
                        <tr *ngIf="plant_details[item.key]">
                            <th>Arrival</th>
                            <td> {{plant_details[item.key].truck.arrival.p1}}</td>
                            <td> {{plant_details[item.key].truck.arrival.p2}}</td>
                        </tr>
                        <tr *ngIf="plant_details[item.key]">
                            <th>Departure</th>
                            <td> {{plant_details[item.key].truck.departure.p1}}</td>
                            <td> {{plant_details[item.key].truck.departure.p2}}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    </div>